:root {
   /*********************************/
   --primary-color: #212121;
   --primary-bc: #ffffff;
   --logo-accent: #2196f3;
   --border-header-color: #ececec;
   --header-contact-color: #757575;
   --link-active-color: #2196f3;
   /*********************************/
   --primary-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   --primary-font-family-logo: "Raleway", sans-serif;
   /*********************************/
   --fc-active: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
